{{!-- targets template to display cards and textbox --}}
<form action="/"
      method="POST">
  <div class="card-deck">
    {{!-- this will display all cards for targets --}}
    {{#each partials.targets}}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="card text-center h-100 p-3">
        <div class="h-100"><img class="card-img-top"
               src="{{image}}"
               alt="poster"></div>
        <div class="card-body px-2 pt-3 pb-0">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="id"
                   value="{{id}}"
                   id="{{character_en}}"
                   {{#if
                   (isdefined
                   id)}}checked{{/if}}>
            <label class="form-check-label"
                   for="{{character_en}}">{{character}}
            </label>
          </div>

        </div>
      </div>
    </div>

    {{/each}}
    {{!-- this will display all cards for targets --}}
  </div>

  {{!-- textbox --}}
  <div class="row feedback-wrapper mt-4 mx-0">
    <div class="col-2 mx-auto px-3 px-0 mx-0">
      <button class="btn btn-success"
              type="submit">產生幹話</button>
    </div>
    <div class="col-10 mx-auto pl-0 pr-3 pb-3"
         style="height: 100px;">
      <div class="card w-100 h-100">
        <div class="card-body">
          {{#if trashTalk}}
          <p class="card-text alert alert-warning text-dark font-weight-bold">{{trashTalk}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{!-- textbox --}}
</form>